* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: rgb(199, 101, 255);
  background: linear-gradient(
    184deg,
    #c765ff 12%,
    rgba(255, 149, 0, 1) 61%,
    rgba(228, 255, 0, 0.8715861344537815) 98%
  );
  background-repeat: repeat;
  background-size: 100%;
}

.currency{
  background-color: rgb(255, 169, 169);
  box-shadow:  3px 3px 5px black;
  padding: 5%;
  display: inline-flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.span{
  font-size: 1.5em;
  padding: 2px;
  font-weight: bold;
}
